-- CreateTable
CREATE TABLE "sertifikasi" (
    "id" SERIAL NOT NULL,
    "nama" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "kategori" TEXT NOT NULL,
    "deskripsi" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sertifikasi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tingkatan" (
    "id" SERIAL NOT NULL,
    "sertifikasiId" INTEGER NOT NULL,
    "nama" TEXT NOT NULL,
    "tarif" INTEGER NOT NULL,
    "dokumenSkemaUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tingkatan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "jadwal" (
    "id" SERIAL NOT NULL,
    "sertifikasiId" INTEGER NOT NULL,
    "tanggalMulai" TIMESTAMP(3) NOT NULL,
    "tanggalSelesai" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "jadwal_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "sertifikasi_slug_key" ON "sertifikasi"("slug");

-- AddForeignKey
ALTER TABLE "tingkatan" ADD CONSTRAINT "tingkatan_sertifikasiId_fkey" FOREIGN KEY ("sertifikasiId") REFERENCES "sertifikasi"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "jadwal" ADD CONSTRAINT "jadwal_sertifikasiId_fkey" FOREIGN KEY ("sertifikasiId") REFERENCES "sertifikasi"("id") ON DELETE CASCADE ON UPDATE CASCADE;

